.navigation-bar {
    justify-content: center;
    background-color: #ececec;
    height: 80px;
    display: flex;
    padding: 30px;
}

.nav-link {
    text-decoration: none;
    word-spacing: 2em;
    padding: 25px;
    font-size: x-large;
    color: black;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about-container {
    background-color: #ececec;
    height: 80vh;
}

#profile_pic {
    height: 300px;
    width: 300px;
    justify-content: center;
}

.about--content {
    width: 800px;
    margin: 0 auto;
}

.about--content--intro {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.intro-name {
    font-size: 100px;
    justify-content: center;
}